#main_container {
    margin: 3rem 5rem;
}

#description_input {
    height: 15rem;
}

#result_output {
    height: 15rem;
    width: 100%;
}

#copyright_text {
    text-align: center;
    color: gray;
    margin-top: 5rem;
}

@media(max-width:750px) {
    * {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    #copyright_text {
        font-size: 1.5rem;
    }
}