<!DOCTYPE html>
<html lang="ja">

<head>
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>

<body>
    <div id="main_container">
        <h1> {{title}}</h1>

        <form action="/exchangeMessage" method="POST">
            <div class="row">
                <div class="six columns">
                    <label for="title_input">Title</label>
                    <input class="u-full-width" type="text" placeholder="Meeting on 20th July" id="title_input"
                        name="title_input">
                </div>
            </div>
            <label for="description_input">Description</label>
            <textarea class="u-full-width" placeholder="Time: 9~10 AM
Place: Meeting Room 6" id="description_input" name="description_input"></textarea>

            <input class="button-primary" type="submit" value="Generate" id="generate_button">
        </form>
        <textarea id="result_output">
# {{messageFile["title"]}}
=====
{{messageFile["desc"]}}</textarea>
        <button class="button-secondary" id="copy_button">Copy to Clipboard</button>
        <div id="copyright_text">© 2019 Masumi Morishige</div>
    </div>
</body>

</html>